@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700&display);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Playfair Display";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Playfair Display";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  position: relative;
}

.form__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.375rem;
          flex: 0 0 14.375rem;
  border: 0.0625rem solid #F72464;
  border-radius: 0.25rem;
  font-family: "Noto Sans";
  font-size: 1rem;
  line-height: 1.375;
  padding: 0.5625rem 0.625rem;
  color: #000;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input::-moz-placeholder {
  color: #999;
}

.form__input:-ms-input-placeholder {
  color: #999;
}

.form__input::-ms-input-placeholder {
  color: #999;
}

.form__input::placeholder {
  color: #999;
}

.form__input._form-error {
  color: red;
}

.form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form__input._form-error::-moz-placeholder {
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  color: red;
}

.form__input._form-error::placeholder {
  color: red;
}

.form__error {
  position: absolute;
  top: 100%;
  left: 35%;
  color: red;
  font-size: 1.125rem;
  margin: 0.625rem 0rem 0rem 0rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.625rem;
  line-height: 1.3461538462;
  color: #fff;
  background-color: #F72464;
  padding: 0.6875rem 2.0625rem;
  min-width: 11.3125rem;
  -webkit-box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
          box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.button._fw {
  width: 100%;
}

.button_white {
  text-transform: uppercase;
  color: #777;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.3125;
  border: 0.0625rem solid #F72464;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button_form {
  font-family: "Noto Sans";
  font-size: 1rem;
  line-height: 1.375;
  padding: 0.625rem 1.875rem;
  min-width: 8.375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  line-height: 1.3333333333;
  text-align: center;
}

.title:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.title-big {
  line-height: 1;
  color: #fff;
  text-align: center;
}

.subtitle {
  font-family: "Noto Sans";
  color: #999;
  line-height: 1.3571428571;
  text-align: center;
  text-transform: uppercase;
}

.items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 16.875rem));
  justify-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__image {
  display: inline-block;
  margin: 0rem 0rem 0.625rem 0rem;
  overflow: hidden;
}

.item__image-img {
  max-width: 100%;
  width: 16.875rem;
  height: 21.875rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item__link {
  display: inline-block;
}

.item__title {
  font-size: 1.25rem;
  line-height: 1.35;
  margin: 0rem 0rem 0.625rem 0rem;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  padding: 0rem 0.625rem;
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  text-transform: uppercase;
  font-family: "Noto Sans";
  line-height: 1.3571428571;
  padding: 0rem 0.625rem;
}

.price-item__old {
  color: #999;
}

.price-item__new {
  color: #F72464;
  font-weight: 700;
}

.header {
  padding: 2.5rem 0rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.header__logo {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  row-gap: 0.9375rem;
}

.menu__link {
  font-family: "Noto Sans";
  font-size: 1.125rem;
  line-height: 1.3888888889;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #000;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro__image-ibg {
  width: 100%;
  max-width: 41.875rem;
  padding-bottom: 70%;
  position: absolute;
  top: 0;
  right: 0;
}

.content-intro {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.875rem;
          flex: 0 1 41.875rem;
  position: relative;
  z-index: 2;
}

.content-intro__title {
  line-height: 1.3333333333;
}

.content-intro__title:not(:last-child) {
  margin: 0rem 0rem 1.25rem 0rem;
}

.content-intro__text {
  font-family: "Noto Sans";
  font-size: 1.375rem;
  line-height: 150%;
  max-width: 37.5rem;
}

.new__body {
  text-align: center;
}

.no-webp .get{
  background-image: url("../img/get/01.jpg"); }

.get {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.get__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 1.875rem;
}

.featured__body {
  text-align: center;
}

.no-webp .special{
  background-image: url("../img/special/01.jpg"); }

.special {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.special__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 1.875rem;
}

.blog__body {
  text-align: center;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2.5rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.post__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.625rem;
          flex: 0 1 35.625rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.item-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-post__image {
  width: 10.625rem;
  height: 10.625rem;
}

.content-post {
  text-align: left;
}

.content-post__title {
  font-size: 1.25rem;
  line-height: 1.35;
}

.content-post__title:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.content-post__text {
  line-height: 130%;
  color: #777;
}

.content-post__text:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.content-post__link {
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.content-post__link-text {
  font-size: 1rem;
  line-height: 1.3125;
}

.join__text {
  font-size: 1rem;
  line-height: 1.375;
  font-family: "Noto Sans";
  color: #999;
  text-align: center;
  max-width: 39.375rem;
  margin: 0 auto 1.875rem;
}

.footer {
  background-color: #000;
  color: #fff;
}

.footer__body {
  padding: 1.875rem 0rem;
}

.footer__copy {
  text-align: center;
  color: #999;
  font-family: "Noto Sans";
  line-height: 1.3571428571;
}

.menu-footer:not(:last-child) {
  margin: 0rem 0rem 1.5625rem 0rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer__link {
  text-transform: uppercase;
  font-family: "Noto Sans";
  line-height: 1.3571428571;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.social-footer:not(:last-child) {
  margin: 0rem 0rem 1.5625rem 0rem;
}

.social-footer__icon {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (min-width: 75em) {
  .apb {
    margin-bottom: 3.75rem;
  }

  .title {
    font-size: 2.625rem;
  }

  .title-big {
    font-size: 3.25rem;
  }

  .subtitle:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .items {
    margin-bottom: 2.5rem;
  }

  .content-intro {
    padding-top: 10.875rem;
  }

  .content-intro {
    padding-bottom: 14.625rem;
  }

  .content-intro__title {
    font-size: 4.5rem;
  }

  .content-intro__text:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .get__body {
    padding-top: 4.25rem;
  }

  .get__body {
    padding-bottom: 4.25rem;
  }

  .special__body {
    padding-top: 4.25rem;
  }

  .special__body {
    padding-bottom: 4.25rem;
  }

  .post {
    margin-bottom: 4.6875rem;
  }

  .join {
    padding-top: 1.875rem;
  }

  .join {
    padding-bottom: 5.625rem;
  }
}

@media (max-width: 75em) {
  .post__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 20em) {
  .apb {
    margin-bottom: 1.875rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .title-big {
    font-size: 2.5rem;
  }

  .subtitle:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .items {
    margin-bottom: 1.875rem;
  }

  .content-intro {
    padding-top: 3.125rem;
  }

  .content-intro {
    padding-bottom: 0.0000000625rem;
  }

  .content-intro__title {
    font-size: 3.125rem;
  }

  .content-intro__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .get__body {
    padding-top: 1.25rem;
  }

  .get__body {
    padding-bottom: 1.25rem;
  }

  .special__body {
    padding-top: 1.25rem;
  }

  .special__body {
    padding-bottom: 1.25rem;
  }

  .post {
    margin-bottom: 1.875rem;
  }

  .join {
    padding-top: 0.9375rem;
  }

  .join {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
    background-color: #fff;
    gap: 1.875rem;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    z-index: 3;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 6.25rem;
    background-color: #fff;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .get {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .get__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .special {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .special__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }

  .button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-intro {
    width: 100%;
    text-align: center;
  }

  .post__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.625rem;
    text-align: center;
  }

  .content-post {
    text-align: center;
  }

  .menu-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .apb {
      margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .apb {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6022727273rem  +  1.3636363636vw , 2.625rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.6022727273rem  +  1.3636363636vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6022727273rem  +  1.3636363636vw , 2.625rem )) {
    .title {
      font-size: calc(1.875rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.5rem , 2.2272727273rem  +  1.3636363636vw , 3.25rem )) {
    .title-big {
      font-size: clamp( 2.5rem , 2.2272727273rem  +  1.3636363636vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 2.2272727273rem  +  1.3636363636vw , 3.25rem )) {
    .title-big {
      font-size: calc(2.5rem + 0.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .subtitle:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .subtitle:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .items {
      margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .items {
      margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.3068181818rem  +  14.0909090909vw , 10.875rem )) {
    .content-intro {
      padding-top: clamp( 3.125rem , 0.3068181818rem  +  14.0909090909vw , 10.875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.3068181818rem  +  14.0909090909vw , 10.875rem )) {
    .content-intro {
      padding-top: calc(3.125rem + 7.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -5.318181733rem  +  26.5909089773vw , 14.625rem )) {
    .content-intro {
      padding-bottom: clamp( 0.0000000625rem , -5.318181733rem  +  26.5909089773vw , 14.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -5.318181733rem  +  26.5909089773vw , 14.625rem )) {
    .content-intro {
      padding-bottom: calc(0.0000000625rem + 14.6249999375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.625rem  +  2.5vw , 4.5rem )) {
    .content-intro__title {
      font-size: clamp( 3.125rem , 2.625rem  +  2.5vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.625rem  +  2.5vw , 4.5rem )) {
    .content-intro__title {
      font-size: calc(3.125rem + 1.375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .content-intro__text:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1931818182rem  +  3.4090909091vw , 3.75rem )) {
    .content-intro__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .get__body {
      padding-top: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .get__body {
      padding-top: calc(1.25rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .get__body {
      padding-bottom: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .get__body {
      padding-bottom: calc(1.25rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .special__body {
      padding-top: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .special__body {
      padding-top: calc(1.25rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .special__body {
      padding-bottom: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.1590909091rem  +  5.4545454545vw , 4.25rem )) {
    .special__body {
      padding-bottom: calc(1.25rem + 3 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .post {
      margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8522727273rem  +  5.1136363636vw , 4.6875rem )) {
    .post {
      margin-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .join {
      padding-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
    .join {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem )) {
    .join {
      padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5113636364rem  +  6.8181818182vw , 5.625rem )) {
    .join {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #e0084a;
  }

  .button_white:hover {
    color: #fff;
  }

  .item__image-img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .item__title:hover {
    color: #F72464;
  }

  .header__logo:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu__link:hover::after {
    width: 100%;
  }

  .item-post:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
            box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  }

  .content-post__link:hover {
    color: #F72464;
    text-decoration: underline;
  }

  .menu-footer__link:hover {
    color: #F72464;
  }

  .social-footer__icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .get{ background-image: url(../img/get/01.webp); }

.webp .special{ background-image: url(../img/special/01.webp); }